# Exclude Everything!!!

/*

# Except the stuff i want to keep

# Gradle Stuff
!gradle/wrapper/
!build.gradle
!build.properties
!settings.gradle

# Git Stuff
!.gitignore

# Other Important Files
!LICENSE

# Other Important Folders
!src/